/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
    --text-font-weight: 465;
    --card-font-weight: 785;
    --background-gradient: repeating-linear-gradient(90deg, #000 0 2px, rgba(255, 255, 255, 0) 2px 4px), repeating-linear-gradient(180deg, #000 0 2px, rgba(255, 255, 255, 0) 2px 4px),  linear-gradient(180deg, #007f0c, #004306);
    --accent-color: #00CC14;
    --background-color: #000;
    --border-color: #00CC14;
    --text-stroke-color: #000;
    --mix-blend-color: #00CC14;
    --heart-fill-color: #FF0000;
}

:root.theme-light {
    --text-font-weight: 400;
    --card-font-weight: 700;
    --background-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px),  linear-gradient(180deg,#e7e7e7 0.01%, #1a1a1a 100%);
    --accent-color: #000000;
    --background-color: #FFFFFF;
    --border-color: #000;
    --text-stroke-color: #fff;
    --mix-blend-color: #fff;
    --heart-fill-color: #FF0000;
}



@media (prefers-color-scheme: dark) {
    :root  {
        --text-font-weight: 465;
        --card-font-weight: 785;
        --background-gradient: repeating-linear-gradient(90deg, #000 0 2px, rgba(255, 255, 255, 0) 2px 4px), repeating-linear-gradient(180deg, #000 0 2px, rgba(255, 255, 255, 0) 2px 4px),  linear-gradient(180deg, #007f0c, #004306);
        --accent-color: #00CC14;
        --background-color: #000;
        --border-color: #00CC14;
        --text-stroke-color: #000;
        --mix-blend-color: #00CC14;
        --heart-fill-color: #FF0000;
    }
  } 

  @media (prefers-color-scheme: light) {
    :root {
        --text-font-weight: 400;
        --card-font-weight: 700;
        --background-gradient: repeating-linear-gradient(90deg, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px), repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgba(255, 255, 255, 0) 2px 4px),  linear-gradient(180deg,#e7e7e7 0.01%, #1a1a1a 100%);
        --accent-color: #000000;
        --background-color: #FFFFFF;
        --border-color: #000;
        --text-stroke-color: #fff;
        --mix-blend-color: #fff;
        --heart-fill-color: #FF0000;
    }
  } 